.container-fluid{
	margin: 0;
	padding: 0;
}
.navbar{
	border-radius: 0px;
	background-color: gray;
}

.navbar-brand{
  font-size: 35px;
  color: black;
  padding-left: 25px;
}



.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: white;
}



.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}

.menu-item:hover{
	background-color: rgba(0,0,0,0.9);
	color: rgba(0,0,0,0.4);
}



.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	text-align: justify;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
